body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: red;
    color: white;
    padding: 15px;
    display: flex;
    float: center;
    justify-content: space-between;
    align-items: center;
}



.side-nav {
    height: 100%;
    width: 250px; /* Atur lebar sidebar sesuai keinginan Anda */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.side-nav a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #d0cece;
}


.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0; /* Tambahkan ini untuk memindahkan ke kanan */
}

img {
  position :relative;
  background-color: wheat;
  margin-left: 250px;
}