body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    margin: 0;
}

.navbar-right  {
    margin: 0;
    color: #fff; /* Atur warna teks sesuai kebutuhan Anda */
}
.side-nav {
    height: 100%;
    width: 250px; /* Atur lebar sidebar sesuai keinginan Anda */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0; /* Tambahkan ini untuk memindahkan ke kanan */
}

/* Tambahan CSS untuk tabel */
table {
    border-collapse: collapse;
    width: 50%;
    float: right;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #f5f5f5;
}
img {
    float: left;
    margin-left: 20px;
}